*{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
}

body{
    background-color: #F6F8F9;
}

/* Header */
header,.bottoni,section{
    background-color: white;
}

.contenitore-logo,.titolo,.logo{
    vertical-align: middle;
    display: inline-block;
}

.contenitore-logo{
    padding: 30px;
    font-weight:700;
    font-size: 30px;
}

.logo{
    width: 80px;
}
/* /Header */

/* Main */
main{
    margin: 30px auto;
    width: 1500px;
    border-radius: 5px;

}
/* Bottoni */
.bottoni, section{
    padding: 20px 80px;

}
.bottone-task {
    background-color: #47ADF1;
    border: none;
    color: white;
}

.bottone-section{
    background-color: white;
    border: 1px solid #C8CED3;
    color: #C8CED3;
}

.bottone-task, .bottone-section{
    padding: 10px;
    font-size: 15px;
    margin-left: 5px;
    border-radius: 5px;
}
/* /Bottoni */

/* Prima Section */
.prima-section{
    margin-top: 5px;
}

h2::before{
    display: inline-block;
    vertical-align: middle;
    margin:0 10px;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;

}

#check::before{
    content: '\2713';
    width: 100px;
    height: 100px;
    padding: 3px;
    border: 1px solid #65C1AA ;
    vertical-align: middle;
    border-radius: 100%;
    color: #65C1AA;
}

ul > li {
    list-style-type: none;
    margin-top: 20px;
    
}
.tags{
    font-size: 13px;
    display: inline-block;
    padding: 10px;
    border-radius: 30px;
    color: white;
}
.text{
    padding: 10px;
    display: inline-block;
    color: #494d55;

}

.tags.editorial{
    background-color: #47ADF1;
}

/* Prima Section */

/* Seconda Section */
#false:before {
    content: ' \2718';
    width: 80px;
    height: 80px;
    padding: 3px;
    border: 1px solid red ;
    vertical-align: middle;
    border-radius: 100%;
    color: red;
}

.tags.mobile{
    background-color: #F29E33 ;
}

.tags.recruiting{
    background-color: #65C1AA  ;
}

.tags.q-goals{
    background-color: #9C72E4   ;
}

/* /Seconda Section */

/* Terza Section */
.tags.website{
   background-color: #D863A1    ;
}

.tags.sales{
    background-color: #B0C926    ;
}

/* /Terza Section */
/* /Main */