*{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
}

body{
    background-color: #F6F8F9;
}

/* Header */
header,main{
    background-color: white;
}

.contenitore-logo,.titolo,.logo{
    vertical-align: middle;
    display: inline-block;
}

.contenitore-logo{
    padding: 30px;
    font-weight:700;
    font-size: 30px;
}

.logo{
    width: 80px;
}
/* /Header */

/* Main */
main{
    margin: 30px auto;
    width: 1500px;
    border-radius: 5px;

}
/* Bottoni */
.bottoni{
    padding: 20px 80px;

}
.bottone-task {
    background-color: #47ADF1;
    border: none;
    color: white;
}

.bottone-section{
    background-color: white;
    border: 1px solid #C8CED3;
    color: #C8CED3;
}

.bottone-task, .bottone-section{
    padding: 10px;
    font-size: 15px;
    margin-left: 5px;
    border-radius: 5px;
}
/* /Bottoni */

/* /Main */